<p ng-if="result.parent_group_id"><a href="#/apps/{$ appId $}/group/{$ result.parent_group_id $}">Back to parent</a></p>
<ul class="group-items">
    <li ng-repeat="item in result.entities">
        <p ng-if="!item.group">{$ item.name $}</p>
        <p ng-if="item.group"><a href="#/apps/{$ appId $}/group/{$ item.group $}">{$ item.name $}</a></p>
    </li>
</ul>

<p ng-if='!result.entities[0]'>No content add some</p>

<hr>
APP ID: {$ appId $}<br/>
PARENT GROUP ID: {$ result.parent_group_id $}<br/>
RESULT: {$result$}<br/>
<a href="#/apps/{$ appId $}/group/{$ groupId $}/add_text">add text</a> | <a href="#/apps/{$ appId $}/group/{$ groupId $}/add_string">add string</a> | <a href="#/apps/{$ appId $}/group/{$ groupId $}/add_group">add group</a>