{% load staticfiles %}
<html ng-app="memoryApp">

<head>
    <script src="{{ STATIC_URL }}js/bower_components/angular/angular.js"></script>
    <script src="{{ STATIC_URL }}js/bower_components/angular-route/angular-route.js"></script>
    <script src="{{ STATIC_URL }}js/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="{{ STATIC_URL }}js/app.js"></script>
    <script src="{{ STATIC_URL }}js/services/auth.js"></script>
    <script src="{{ STATIC_URL }}js/auth.js"></script>
    <script src="{{ STATIC_URL }}js/controllers/controllers.js"></script>
    <script src="{{ STATIC_URL }}js/controllers/auth.js"></script>
    <script src="{{ STATIC_URL }}js/controllers/main.js"></script>
    <script src="{{ STATIC_URL }}js/controllers/dashboard.js"></script>

    <script src="{{ STATIC_URL }}js/interceptors/auth.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">
</head>
<body>
<a href="{% url 'apps-show' %}">all apps</a> | <a href="{% url 'app-add' %}">new app</a> | <a href="#/login">login</a> | <a href="#/logout">logout</a>
<hr>
    <div ng-view></div>
{% block content%}{% endblock %}
</body>
</html>